<link href="https://fonts.googleapis.com/css?family=Courgette|Gloria+Hallelujah|Indie+Flower" rel="stylesheet">
<% arr = [
	'My one and only',
	'I love you',
	'My forever girl',
	'Your weirdo loves you',
	'Taco Tuesday!',
	'Hey hot stuff',
	'Hello Beautiful',
	'Hey sexy Lady'
] %>



<p><%= arr.sample %></p>