<nav class="navbar navbar-toggleable-md nav_background">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <p class="navbar-brand" href="#">Cami + Gordon</p>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "diaries", diaries_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "login", new_user_session_path, class: "nav-link" %>
      </li>
    </ul>

    <span class="navbar-text cute-saying">
      <%= render 'shared/nav_helper' %>
    </span>
  </div>
</nav>