<body class="home_background">
	<p class="container home_saying">I made this for my lovely wife and want her to know that I love her very much and let her know that I'm thinking of her.</p>	

</body>
