@import "bootstrap";

.nav_background {
	background-color: #e02c2c;
}

.cute-saying p {
	margin-right: 30px;
	color: #adfffc;
	font-family: 'Courgette', cursive;
	font-weight: strong;
}
.nav-link {
	color: #adfffc;
	font-family: 'Courgette', cursive;
}

.nav-link:hover {
	color: red;
}
