@import "bootstrap";

/*home page styling begin*/

.home_background {
	background-image: url(camera_outside.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.home_saying{
	color: white;
	font-size: 30px;
	background-color: rgba(255, 255, 255, 0.2);
	width: 50%;
	border-radius: 10px;
	margin-top: 100px;
	font-family: 'Courgette', cursive;
	text-align: center;
}

/*home page styling end*/

/*Nav bar styling begin*/

.navbar{
	box-shadow: 0px 10px 5px rgba(0,0,0,0.5);
}

.nav_background {
	background-image: url(oldWood.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.cute-saying p {
	margin-right: 30px;
	color: #AC8762;
	font-family: 'Courgette', cursive;
	/*background-color: rgba(140, 69, 11, 0.3);*/
	padding: 10px;
	margin-top: 23px;
	font-size: 30px;
}
.nav-link {
	margin-top: 23px;
	font-size: 20px;
	color: white;
	font-family: 'Courgette', cursive;
	background-color: rgba(140, 69, 11, 0.3);
}

.nav-link:hover {
	color: green;
}

.navbar-brand {
	color: #53C7FD;
	font-size: 60px;
	text-shadow: 2px 2px #E9E2A4;
	font-family: 'Gloria Hallelujah', cursive;
}
/*Nav bar styling End*/



/*Show page styling Begin*/
.show-page-image {
	width: 100%;
	
}

/*Show page styling end*/

#blog-header {
	color: white;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 10px;

}
.blog-post {
	text-align: center;
}

#diary-background {
	margin-top: -16px;
	background-image: url(enchented_forest_rainbow.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

